<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Mondd meg, hogy mikor történt ez az esemény:</p>
    <form method="POST">
        {% csrf_token %}
        <p><strong>{{ esemeny_neve }}</strong></p>
        <label for="valasz">ekkor történt:</label>
        <input id="valasz" type="number">
        <input type="submit" value="Küld">
    </form>
</body>
</html>